<app-navbar (searchEvent)="searchPatient($event)" ></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-3">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="document">
                <option selected>Documento</option>
                <option value="{{doc.def}}" *ngFor="let doc of documentData">{{ doc.def }}</option>
              </select>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">N. Documento</span>
                <input type="text" class="form-control" placeholder="ej: 100000000" aria-label="Username" [(ngModel)]="numberDocument" aria-describedby="basic-addon1">
              </div>
        </div>

        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre y Apellidos</span>
                <input type="text" class="form-control" placeholder="ej: Andres Antonio Garcia Joya" [(ngModel)]="name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
    </div>    
    
    <div class="row">
        <div class="col-2">

            <select class="form-select" aria-label="Default select example" [(ngModel)]="dpto" (change)="findCities()" >
                <option selected>Departamento</option>
                <option value="{{dep.departamento}}" *ngFor="let dep of dptoAndcitiesData">{{ dep.departamento }}</option>
              </select>
            </div>
        <div class="col-2">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="city">
                <option selected>Ciudad</option>
                <option value="{{ city.ciudad }}" *ngFor="let city of cityTemp"> {{ city.ciudad}}</option>
              </select>
        </div>

        <div class="col-6">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                   <input type='text' class="form-control" />
                   <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
                   </span>
                </div>
             </div>
          </div>
          <script type="text/javascript">
             $(function () {
                 $('#datetimepicker1').datetimepicker();
             });
          </script>
        <div class="col-1"></div>
        <div class="col-1">
            <button *ngIf="!edit" type="button" class="btn btn-primary" (click)="saveData()"> Agregar </button>
            <button *ngIf="edit" type="button" class="btn btn-primary" (click)="updateData()"> Guardar </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Documento</th>
                <th scope="col">N. Documento</th>
                <th scope="col">Nombres</th>
                <th scope="col">ciudad</th>
                <th scope="col">fecha de nacimiento</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data | filter: search">
                <td>{{ d.document }}</td>
                <td>{{ d.numberDocument }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.city }}</td>
                <td>{{ d.birthDate }}</td>
                <td>    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" (click)="editData(d.numberDocument)">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" (click)="deleteData(d.numberDocument)">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


